header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: var(--main-bg-2);
  border: 1px solid var(--border-color-1);
  backdrop-filter: blur(2.5px);
  z-index: 1000;
}
.header-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem 0;
  position: relative;
}
.header-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-left > a > img {
  height: 1.5rem;
  object-fit: contain;
}
.header-left > a:first-child {
  margin: 0;
}
.header-left > a {
  font-size: 1.5rem;
  color: var(--text-color-1);
  margin: 0 1.5rem 0 0;
  cursor: pointer;
}
.header-left p {
  font-size: 1.5rem;
  color: var(--text-color-1);
  margin: 0 1.5rem 0 0;
  cursor: pointer;
}
.header-right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-right .connect-wallet-link {
  width: max-content;
  display: flex;
  align-items: center;
  margin: 0 2.5rem;
  cursor: pointer;
}
.header-right .connect-wallet-link img {
  width: 1.9rem;
  margin: 0 0.75rem 0 0;
}
.header-right .connect-wallet-link span {
  font-size: 1.4rem;
  font-weight: 500;
}
.header-right .icon-link {
  font-size: 1.75rem;
  color: var(--text-color-1);
  margin: 0 3rem 0 0;
  cursor: pointer;
}
.cart-icon-link {
  font-size: 1.75rem;
  color: var(--text-color-1);
  margin: 0 3rem 0 0;
  cursor: pointer;
  position: relative;
}
.cart-icon-link:hover {
  color: var(--text-color-1);
}
.cart-icon-link span {
  font-size: 1.2rem;
  color: #fff;
  font-weight: 500;
  border-radius: 1000px;
  border: 2px solid var(--white);
  position: absolute;
  top: -0.85rem;
  right: -0.85rem;
  background: var(--grd-text);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 2rem;
  height: 2rem;
}
.light-dark-theme-box {
  width: max-content;
  height: max-content;
  padding: 0.5rem;
  border-radius: 1.2rem;
  background-color: var(--main-bg-3);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.theme-icon {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  cursor: pointer;
}
.theme-icon svg {
  font-size: 1.5rem;
  color: #828386;
}
.active-theme.theme-icon {
  background: var(--grd-text);
}
.active-theme.theme-icon svg {
  color: #fff;
}
.cart-dropdown {
  width: max-content;
  margin: 0 3rem 0 0;
}
.cart-dropdown a {
  margin: 0;
}
.cart-dropdown .btn-primary {
  background-color: unset !important;
  padding: 0 !important;
  outline: 0 !important;
  border: 0 !important;
  box-shadow: unset !important;
}
.cart-dropdown .btn-primary::after {
  display: none;
}
.cart-dropdown .dropdown-menu {
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: unset !important;
  border: 0 !important;
  position: absolute !important;
  top: unset !important;
  bottom: 0 !important;
  left: 50% !important;
  right: unset !important;
  transform: translate(-50%, 105%) !important;
}
.cart-content {
  min-width: 32.5rem;
  width: 100%;
  padding: 2.5rem;
  background-color: var(--main-bg-2);
  border: 1px solid var(--border-color-1);
  box-shadow: var(--box-shadow-1);
  backdrop-filter: blur(54.3656px);
  border-radius: 2.5rem;
}
.cc-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0 0 0;
}
.cc-item-left {
  width: max-content;
  display: flex;
  align-items: center;
}
.cc-item-left img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 0.75rem;
}
.cc-item-left h6 {
  font-size: 1.75rem;
  color: var(--text-color-1);
  margin: 0 0 0 1.5rem;
}
.cc-item-right {
  width: max-content;
  display: flex;
  align-items: center;
}
.cc-item-right p {
  font-size: 1.65rem;
  color: var(--text-color-1);
  margin: 0 1.5rem 0 0;
}
.cc-item-right div {
  width: 2rem;
  height: 0.25rem;
  background: var(--grd-text);
  border-radius: 1000px;
}
.cart-content button {
  width: 100%;
}
.cart-divider {
  width: 100%;
  height: 1px;
  background-color: var(--border-color-1);
  margin: 2rem 0;
}
.cc-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 0.5rem 0;
}
.cc-top h5 {
  font-size: 2.5rem;
  margin: 0;
  color: var(--text-color-1);
}
.cc-top span {
  background-color: var(--main-bg-6);
  color: var(--text-color-2);
  font-size: 1.35rem;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  font-weight: 500;
}
.cw-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.connectwallet-modal {
  max-width: 300px;
}
.cw-content img {
  width: 6.5rem;
}
.cw-content h4 {
  font-size: 2rem;
  margin: 3.5rem 0;
  color: var(--text-color-1);
  text-align: center;
}
.cw-content button,
.cw-content button div {
  width: 100%;
}
.cw-content button .grd-text {
  font-size: 1.65rem;
}
.header-right-mob {
  width: 100%;
  display: none;
  align-items: center;
  justify-content: flex-end;
}
.header-right-mob svg {
  font-size: 2rem;
  color: var(--text-color-1);
}
.header-mob .header-right-mob svg {
  font-size: 2rem;
  color: #fff;
}
.header-right-mob > div > img {
  width: 2rem;
  object-fit: contain;
}
.header-right-mob > * {
  margin: 0 0 0 2.5rem;
}
.sib-mob {
  width: 100%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  z-index: 100;
  max-width: unset;
  min-width: unset;
  margin: 0;
}
.header-mob {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  /* background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(5px); */
  background-image: url("../../assets/img/header-mob-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header-mob-body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 5rem 0;
}
.header-mob-center {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.header-mob-center a {
  font-size: 3rem;
  color: #fff;
  margin: 1rem 0;
}
.header-mob-body .header-grid {
  height: max-content;
}
.hmb-socials {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hmb-socials a {
  color: #fff;
  font-size: 2.5rem;
}
.hmb-socials a:first-child {
  margin: 0 2rem 0 0;
}
.header-mob-bottom .light-dark-theme-box {
  margin: 2.5rem 0 0 0;
}
@media screen and (max-width: 1250px) {
  .header-right .icon-link {
    margin: 0 1.5rem 0 0;
  }
  .header-right .connect-wallet-link {
    margin: 0 1.5rem;
  }
}
@media screen and (max-width: 1150px) {
  .header-right-mob {
    display: flex;
  }
  .header-left .search-input-box {
    display: none;
  }
  .header-left > a:not(:first-child) {
    display: none;
  }
  .header-right {
    display: none;
  }
  .header-grid {
    padding: 2rem 0;
  }
  .cart-dropdown .dropdown-menu {
    right: 0 !important;
    left: unset !important;
    transform: translate(30%, 105%) !important;
  }
}
@media screen and (max-width: 550px) {
  .cart-content {
    min-width: 27.5rem;
    border-radius: 1.5rem;
    padding: 1.5rem;
  }
}
